
.credits {
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .credits {
    display: none;
    text-align: left;
  }

  .creditsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggleCredits {
    margin-left: auto;
  }

  .creditsOpen .credits {
    display: block;
    margin-top: 1rem;
  }
  
  .creditsWrapper button {
    display: block;
  }

  .creditsWrapper h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
  }
}