
.credits {
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: right;
}

.creditsWrapper button {
  display: none;
}

@media screen and (max-width: 600px) {
  .credits {
    display: none;
    text-align: left;
  }

  .creditsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .showCredits {
    opacity: 0.5;
    font-size: smaller;
    margin-left: auto;
  }

  .creditsOpen .credits {
    display: block;
  }

  .creditsOpen .showCredits {
    display: none;
  }
  
  .creditsWrapper button {
    display: block;
  }
}