.timeControl {
  position: relative;
}

.timePlayer {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  align-items: flex-end;
}

.playPauseButton {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.playPauseButton:after {
  box-sizing: border-box;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-style: solid;
  transition: 100ms all ease;
  will-change: border-width;
}

.playPauseButton.play:after {
  border-width: 6px 0px 6px 12px;
  border-color: transparent transparent transparent var(--textColor);
}

.playPauseButton.pause:after {
  border-style: double;
  border-width: 0 0 0 12px;
  border-color: var(--textColor);
}

.timeScale {
  flex-grow: 1;
  flex-shrink: 0;
}

.timeControl input[type="checkbox"] {
  margin: 0.5rem 0.5rem 0 0;
}

.time {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1rem;
}

.speedIndicator {
  margin-left: 0.5rem;
  height: 1rem;
  width: 2rem;
  background: black linear-gradient(to right, var(--highlightColor) var(--level), transparent var(--level), transparent 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}